mixin header()
  +b.header&attributes(attributes)
    .container
      +e.A.logo(href="#")
        img(src="assets/images/logo.svg" alt="Лого")

      +e.city
        a(class="shops-bar__button shops-bar__button_header js-fancybox" href="#popup-shops")
          span(class="shops-bar__button-wrap shops-bar__button-wrap_choose")
            img(src="assets/images/choose-shop.svg" alt="Выбрать магазин")
            span Магазин не выбран
          span(class="shops-bar__button-wrap shops-bar__button-wrap_shop")
            img(src="assets/images/exchange.svg" alt="Поменять магазин")
            span Москва, Садово-Спасская, 51

      +e.burger.js-burger-menu
        +icon('close').__close.js-burger-close
        +e.close-block.js-burger-close

        +e.menu
          each item in getData('header').menu
            +e.A.item(href=item.link)
              +icon(item.icon).__icon
              +e.P.text!= item.text

          +e.A.item(href="#popup-shops").js-fancybox.js-shop-mobile-button.show-lg
            +icon('exchange').__icon
            +e.P.text Магазин не выбран

      +e.burger-button.js-burger-button
        span

mixin ui-kit-header()
  +ui-section
    +ui-section-head
      +ui-title Шапка
      +ui-path
        p Компонент: components/header/header

    +ui-section-content(true)
      +header

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
