.checkradio {
  position: relative;
  padding-left: 33px;
  display: flex;
  cursor: pointer;
  min-height: 20px;

  $b: &;

  &_radio {
    min-height: 22px;
    padding-left: 34px;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & + .checkradio__box {
        &::before { opacity: 1; }
      }
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba($color-grey-8, .4);
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 6px;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: $color-main;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 3px;

      @include center-image;
    }

    #{$b}_radio & {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid $color-grey-2;

      &::before {
        border-radius: 50%;
      }
    }
  }

  &__content {
    @include rule(font-size, (xl: 14px, lg: 10px));

    line-height: 18px;
    color: $color-grey-7;
    width: 100%;
    margin-top: -3px;

    #{$b}_radio & {
      color: $color-grey-6;
      transition: color $ease-main;
      font-size: 18px;
      line-height: 1.5;
    }

    #{$b}_radio #{$b}__input:checked ~ & {
      color: $color-main;
    }

    a {
      text-decoration: underline;
    }
  }
}
