.input {
  height: 55px;
  border: 1px solid rgba($color-grey-8, .4);
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  border-radius: 30px;
  min-height: 0;
  background-color: transparent;
  transition: border-color $ease-main;

  @include rule(padding, (xl: 0 19px, lg: 0 13px));
  @include rule(font-size, (xl: 18px, lg: 16px));

  &.parsley-error {
    border-color: $color-red;
  }
}

.textarea {
  @extend .input;

  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 108px;
  resize: none;

  &.parsley-error {
    border-color: $color-red;
  }
}
