mixin offer()
  +b.offer&attributes(attributes)
    .container
      +e.left
        +e.H1.title Нужен пылесборник для пылесоса?
        +e.texts
          +e.P.text Проверьте наличие нужных вам аксессуаров в магазинах вашего города!

      +e.right
        +e.IMG.picture(src="assets/images/cleaner.png" alt="Пылесос")
        +number-tooltip(getData('tooltips')[0]).__tooltip_1
        +number-tooltip(getData('tooltips')[1]).__tooltip._2

      +e.lines
        +e.line._1
        +e.line._2
        +e.line-text
          span Всего два шага

mixin ui-kit-offer()
  +ui-section
    +ui-section-head
      +ui-title Оффер
      +ui-path
        p Компонент: components/offer/offer

    +ui-section-content()
      +offer

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
