.offer {
  display: block;
  background-color: black;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  position: relative;
  color: white;

  $b: &;

  .container {
    position: relative;
    z-index: 2;

    @include rule(display, (xl: flex, lg: block));
    @include rule(padding-top, (xl: 120px, lg: 53px));
  }

  &__left {
    @include rule(padding-bottom, (xl: 98px, lg: 104px));

    flex: 1;
    position: relative;
    z-index: 2;
  }

  &__right {
    box-sizing: border-box;
    position: relative;

    @include rule(font-size, (lg: 0));
    @include rule(padding-left, (xl: 102px, lg: 0));
    @include rule(width, (xl: 574px, lg: auto));
    @include rule(height, (xl: 287px, lg: auto));
    @include rule(position, (lg: absolute));
    @include rule(right, (lg: 0));
    @include rule(bottom, (lg: 0));
  }

  &__title {
    font-weight: 700;
    font-family: $font-second;

    @include rule(font-size, (xl: 48px, lg: 30px));
    @include rule(line-height, (xl: 50px, lg: 36px));
  }

  &__texts {
    @include rule(padding-left, (xl: 70px, lg: 0));
    @include rule(margin-top, (xl: 20px, lg: 23px));
    @include rule(padding-right, (lg: 120px));

    &::before {
      content: '';
      height: 4px;
      width: 98px;
      border-radius: 100px;
      background: $color-main;
      display: block;

      @include rule(margin-bottom, (xl: 21px, lg: 26px));
    }
  }

  &__text {
    @include rule(font-size, (xl: 22px, lg: 16px));

    line-height: 24px;
    font-family: $font-second;
  }

  &__picture {
    position: absolute;
    pointer-events: none;

    @include rule(left, (xl: -130px, lg: auto));
    @include rule(top, (xl: 4px, lg: auto));
    @include rule(right, (lg: -104px));
    @include rule(bottom, (lg: -148px));
    @include rule(width, (lg: 363px));
  }

  &__tooltip {
    @include rule(display, (lg: none));

    &_1 {
      position: absolute;
      left: 101px;
      top: 9px;
    }

    &_2 {
      position: absolute;
      left: 240px;
      top: 146px;
    }
  }

  &__lines {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    @include rule(display, (lg: none));
  }

  &__line {
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(white, .15);

    &_1 {
      left: 110px;
    }

    &_2 {
      left: 50%;
    }
  }

  &__line-text {
    display: flex;
    text-transform: uppercase;
    width: 1000px;
    align-items: center;
    position: absolute;
    right: -292px;
    top: 156px;
    transform: rotate(-90deg);

    &::before, &::after {
      content: '';
      height: 1px;
      background: rgba(white, .15);
      flex: 1;
    }

    span {
      margin: 0 24px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 700;
      font-family: $font-second;
    }
  }
}
