mixin breadcrumbs(json)
  +b.breadcrumbs&attributes(attributes)
    .container
      each crumb in json
        +e.item
          +e(crumb[1] ? 'a' : 'p').link(href=(crumb[1] || false))!= crumb[0]

mixin ui-kit-breadcrumbs
  +ui-section
    +ui-section-head
      +ui-title Хлебные крошки
      +ui-path
        p Блок: blocks/breadcrumbs/breadcrumbs

    +ui-section-content(true)
      +breadcrumbs([["Главная", "#"], ["Каталог"]])

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
