.breadcrumbs {
  @include rule(display, (xl: block, lg: none));

  padding: 26px 0;

  $b: &;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 1;
    color: $color-grey-10;

    &:not(:last-child) {

      &::after {
        content: '\00a0-\00a0';
      }
    }

    a {
      transition: color $ease-main;
      text-decoration: underline;

      &:hover {
        color: $color-main;
      }
    }
  }
}
