.footer {
  display: block;
  background: $color-dark-1;

  @include rule(padding, (xl: 30px 0, lg: 59px 0 40px));

  $b: &;

  .container {
    display: flex;
    width: 100%;

    @include rule(flex-wrap, (lg: wrap));
  }

  &__left {
    flex: 1;

    @include rule(padding-right, (xl: 60px, lg: 0));
  }

  &__right {
    @include rule(width, (xl: 690px, lg: 100%));
    @include rule(padding-right, (xl: 174px, lg: 0));
    @include rule(order, (lg: -1));

    box-sizing: border-box;
    position: relative;
  }

  &__logo {
    font-size: 0;

    @include rule(display, (lg: none));

    img {
      width: 183px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;

    @include rule(margin-top, (xl: 24px, lg: 43px));
  }

  &__button {
    font-size: 0;

    img {
      @include rule(height, (xl: 46px, lg: 40px));
    }

    &:not(:last-child) {
      @include rule(margin-right, (xl: 20px, lg: 10px));
    }
  }

  &__image {
    position: absolute;
    right: -36px;
    top: -33px;
    pointer-events: none;

    @include rule(display, (lg: none));
  }

  &__arrow {
    position: absolute;

    @include rule(right, (xl: 105px, lg: auto));
    @include rule(left, (lg: 183px));
    @include rule(bottom, (xl: 42px, lg: auto));
    @include rule(top, (lg: -21px));
  }

  &__title {
    font-family: $font-second;
    font-weight: 700;
    line-height: 1;
    color: white;

    @include rule(font-size, (xl: 18px, lg: 16px));
    @include rule(text-transform, (lg: uppercase));
  }

  &__form {
    margin-top: 21px;

    .button {
      @include rule(width, (lg: 100%));
    }
  }
}
