.page-content-wrap {
  display: flex;
  flex-direction: column;
  transition: transform $ease-main;
  width: 100%;

  @include rule(padding-top, (xl: 100px, lg: 74px));

  $b: &;

  &.is-active {
    transform: translate3d(270px, 0, 0);
  }
}
