mixin popups()
  +b.popups&attributes(attributes)
    +popup-success
    +popup-shops

mixin popup-success()
  +b.popup-success&attributes(attributes)#popup-success
    .container
      +icon('close')(data-fancybox-close="").__close
      +e.IMG.like(src="assets/images/like.svg" alt="Like")
      +e.H3.title Спасибо за обращение!
      +e.P.text В ближайшее время вы&nbsp;получите ответ на&nbsp;указанный e-mail

mixin popup-shops()
  +b.popup-shops&attributes(attributes)#popup-shops
    +icon('close')(data-fancybox-close="").__close

    +e.top
      .container
        +e.P.title Адреса магазинов в городе:
        +e.content
          +e.FORM.form(action="assets/json/cities.json" method="get")
            +e.INPUT.input(name="city" type="text" value="Зеленоград").js-input-with-remove.js-city-input
            +icon('close').__clear-input.js-clear-input

          +city-list

    +e.bottom
      .container
        +shops(getData('shops')[1], true)._popup.__shops


mixin ui-kit-popups
  +ui-section
    +ui-section-head
      +ui-title Попапы
      +ui-path
        p Блок: blocks/popups/popups
      +ui-description
        p На ссылку вешается класс .js-fancybox, в [href] указывается id попапа (href="#popup")
        p Демонстрация попапов на странице <a href="sitemap.html">sitemap.html</a>

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
