// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1225px; // Максимальная ширина контейнера контента
$container-padding: 40px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 22px; // Расстояние между колонками
$grid-gap-vertical: 18px; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-main: #59A855; // Основной фирменный цвет
$color-main-light: #5cbf57;
$color-grey-1: #B5B5B5;
$color-grey-2: #CBCBCB;
$color-grey-3: #8D8D8D;
$color-grey-4: #BFBFBF;
$color-grey-5: #7E7E7E;
$color-grey-6: #ACACAC;
$color-grey-7: #c6c6c6;
$color-grey-8: #a7a7a7;
$color-dark-1: #2A2A2A;

$color-basic: black; // Основной цвет текста (применяется к body)
$color-placeholder: $color-grey-7; // Основной цвет для placeholder
$color-input: white; // Основной цвет input, select и textarea
$color-border: #ccc; // Основной цвет границ таблиц, секций

// ##########
// Массив цветов для UI-кита
// ##########
$colors: (
  '$color-basic': black,
  '$color-placeholder': #777,
  '$color-input': black,
  '$color-main': #2252d8,
  '$color-border': #ccc,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Calibri', sans-serif; // Основной шрифт сайта
$font-second: 'Montserrat', sans-serif; // Дополнительный шрифт

// ##########
// Цвета для UI-кита (удалить, если он отсутствует)
// ##########
$ui-kit-bg: white; // Фон кита
$ui-kit-color-text: black; // Цвет текста
$ui-kit-color-gray: #ccc; // Цвет границ
$ui-kit-color-darkbg: #111; // Фон темной секции
