.categories {
  display: block;

  @include rule(max-width, (xl: 460px, lg: none));

  $b: &;

  &__item {
    display: flex;
    align-items: center;
    stroke: $color-grey-2;
    color: black;
    border-bottom: 1px solid rgba($color-grey-3, .2);
    transition: color $ease-main, stroke $ease-main;

    @include rule(padding, (xl: 23px 0, lg: 16px 0));

    &:hover {
      stroke: $color-main;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__title {
    @include rule(font-size, (xl: 24px, lg: 18px));
    @include rule(line-height, (xl: 40px, lg: 30px));

    flex: 1;
  }

  &__arrow {
    @include rule(width, (xl: 16px, lg: 12px));
    @include rule(height, (xl: 26px, lg: 22px));

    flex-shrink: 0;
    margin-left: 24px;
  }
}
