mixin search-results()
  +b.search-results.is-active&attributes(attributes)
    .container
      +e.bar
        +e.P.title ДАННЫЙ ТОВАР СЕЙЧАС ДОСТУПЕН В СЛЕДУЮЩИХ МАГАЗИНАХ
        +tabs.__tabs
          +tab(data-tab-target="map").js-search-results-map.is-active Карта
          +tab(data-tab-target="list").js-search-results-list Список

      +tab-wrapper(data-tab="list" data-tab-group="search-results").search-results__list
        +shops(getData('shops')[0]).__shops

    +tab-wrapper(data-tab="map" data-tab-group="search-results").search-results__map.is-active
      +map

mixin ui-kit-search-results()
  +ui-section
    +ui-section-head
      +ui-title Результаты поиска
      +ui-path
        p Компонент: components/search-results/search-results

    +ui-section-content()
      +search-results

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
