.shops {
  display: block;

  $b: &;

  &__item {
    display: flex;
    border-bottom: 1px solid rgba($color-grey-3, .15);
    align-items: center;
    box-sizing: border-box;

    @include rule(padding, (xl: 7px 0, lg: 14px 0));
    @include rule(min-height, (xl: 100px, lg: 78px));

    &:first-child {
      border-top: 1px solid rgba($color-grey-3, .15);
    }
  }

  &__title {
    flex: 1;

    @include rule(font-size, (xl: 24px, lg: 17px));
    @include rule(line-height, (xl: 32px, lg: 21px));
    @include rule(padding-right, (xl: 60px, lg: 25px));
  }

  &__map-button {
    @include rule(display, (xl: flex, lg: none));

    align-items: center;
    color: $color-grey-6;
    transition: color $ease-main;
    appearance: none;
    width: 320px;

    &:hover {
      color: $color-main;
    }

    svg {
      flex-shrink: 0;
      width: 25px;
      height: 32px;
      fill: $color-main;
      margin-right: 10px;
    }

    p {
      font-size: 18px;
      line-height: 1;
      text-decoration: underline;
    }
  }

  &__image {
    @include rule(width, (xl: 270px, lg: 64px));

    img {
      max-width: 100%;
      max-height: 120px;
    }
  }
}
