mixin shops(data, isClickable)
  +b.shops&attributes(attributes)
    each item in data
      +e.item(class=(isClickable ? 'js-select-shop' : false))
        +e.P.title!= item.title

        if item.mapButton
          +e.BUTTON.map-button(type="button")
            +icon('shops')
            p Показать на карте

        +e.image
          img(src=item.image, alt=item.title)

mixin ui-kit-shops()
  +ui-section
    +ui-section-head
      +ui-title Список магазинов
      +ui-path
        p Компонент: components/shops/shops

    +ui-section-content()
      +shops(getData('shops')[0])

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
