.search-form {
  display: block;
  position: relative;

  $b: &;

  &_margin {

    &-bottom {

      &_50 {
        @include rule(margin-bottom, (xl: 50px, lg: 32px));
      }
    }
  }

  &__title {
    @include rule(font-size, (xl: 24px, lg: 20px));
    @include rule(margin-bottom, (xl: 23px, lg: 20px));

    line-height: 34px;
    font-family: $font-second;
  }

  &__form {
    height: 64px;
    display: flex;
    position: relative;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .18);
    background: white;
    border-radius: 100px;
  }

  &__button {
    width: 431px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 22px;
    line-height: 64px;

    @include rule(display, (lg: none));
  }

  &__input {
    @include rule(padding, (xl: 0 450px 0 79px, lg: 0 30px 0 50px));
    @include rule(font-size, (xl: 24px, lg: 18px));
    @include rule(font-weight, (lg: 300));

    color: black;
    width: 100%;
    height: 64px;

    &::placeholder {
      color: $color-grey-2;
    }
  }

  &__icon {
    @include rule(width, (xl: 26px, lg: 18px));
    @include rule(height, (xl: 26px, lg: 18px));
    @include rule(left, (xl: 27px, lg: 20px));

    fill: $color-main;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .18);
    box-sizing: border-box;
    overflow: auto;
    display: none;
    transition: opacity $ease-main, transform $ease-main;
    opacity: 0;
    transform: translate3d(0, 10px, 0);

    @include rule(max-height, (xl: 392px, lg: 250px));

    &.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include rule(padding, (xl: 25px, lg: 16px));

    &:not(:first-child) {
      border-top: 1px solid rgba($color-grey-3, .2);
    }
  }

  &__image {
    @include rule(width, (xl: 80px, lg: 40px));
    @include rule(height, (xl: 80px, lg: 40px));
    @include rule(margin-right, (xl: 30px, lg: 16px));

    position: relative;
    flex-shrink: 0;

    img {
      @include center-image;

      max-width: 100%;
      max-height: 100%;
    }
  }

  &__texts {
    flex: 1;
  }

  &__item-name {
    @include rule(font-size, (xl: 22px, lg: 16px));

    line-height: 1.3;
    font-family: $font-second;
    transition: color $ease-main;

    #{$b}__item:hover & {
      color: $color-main;
    }
  }

  &__item-subname {
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(margin-top, (xl: 8px, lg: 5px));

    color: $color-main;
    line-height: 1.3;
  }
}
