mixin search-form(title)
  +b.search-form&attributes(attributes)
    if title
      +e.P.title!= title

    +e.FORM.form(action="#" method="post")
      +e.INPUT.input(name="text" type="text" placeholder="Пылесборник Menalux 200")
      +button('button')(type="submit").__button Искать
      +icon('search').__icon

mixin ui-kit-search-form()
  +ui-section
    +ui-section-head
      +ui-title Форма поиска
      +ui-path
        p Компонент: components/search-form/search-form

    +ui-section-content()
      +search-form

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
