.filters {
  display: block;

  @include screen('lg') {
    position: static !important;
    top: 0 !important;
    width: 100% !important;
  }

  $b: &;

  &__section {

    & + & {
      margin-top: 23px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__items {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 24px, lg: 15px));
    }
  }

  &__item {

    &:not(:first-child) {
      margin-top: 11px;
    }
  }
}
