mixin slider(pagination, buttons)
  +b.slider.js-slider&attributes(attributes)
    +e.top.swiper-container.js-slider-top
      .swiper-wrapper
        each item in getData('slider')
          +e.top-slide.swiper-slide
            img(src=item, alt="Слайд")
            +e.A.zoom(href=item, data-fancybox="gallery").js-fancybox
              +icon('zoom')

    +e.bottom.swiper-container.js-slider-bottom
      .swiper-wrapper
        each item in getData('slider')
          +e.bottom-slide.swiper-slide
            img(src=item, alt="Слайд")

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block

mixin ui-kit-slider
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Блок: blocks/slider/slider

    +ui-section-content()
      +slider

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
