mixin preloader()
  +b.preloader&attributes(attributes)
    img(src="assets/images/preloader.svg")

mixin ui-kit-preloader()
  +ui-section
    +ui-section-head
      +ui-title Компонент preloader
      +ui-path
        p Компонент: components/preloader/preloader
      +ui-description
        p Описание компонента

    +ui-section-content()
      +preloader

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
